$secondary-color: #141a33;
$primary-color: #F48023;
$white: #ffffff;

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 57px;
    background-color: $primary-color;
    height: auto;

    a.active {
        background: $secondary-color;
    }

    a {
        font-weight: 300;
        font-size: 15px;
        border-radius: 0;
        color: $white;
    }

    a.ant-btn {
        &:hover {
            color: $white;
            background: $secondary-color;
        }
    }

    img {
        width: 180px;
    }

    .img_profile {
        width: 25px;
    }
}